options:
  port:
    type: int
    default: 8200
    description: "Port duplicati is running on, the charm will not set this but needs to know for reverse proxy setup"
  remote-access:
    type: boolean
    default: True
    description: "Allow remote access"
  proxy-port:
    type: int
    default: 443
    description: "Port to request for reverse proxy access"
  proxy-domain:
    type: string
    default: "duplicati"
    description: "Subdomain to request from reverse proxy"
  proxy-url:
    type: string
    default: "/duplicati"
    description: 'Urlbase for revrse proxy, must start with a "/"'
# proxy-group:
# prtype: string
# prdefault: "duplicati"
# prdescription: "The name of the backend this charm will use, this should be unique for deployment/reverseproxy. Duplicati is not designed to be run in HA with multiple units grouped" 
  proxy-private:
    type: boolean
    default: True
    description: "Restrict proxy to private subnets"
  storage-url:
    type: string
    default: ''
    description: "Storage URL to backup to"
  source-path:
    type: string
    default: ''
    description: "Comma seperated list of paths to backup and restore"
  passphrase:
    type: string
    default: ''
    description: "Passpharse for encrypted backup"
  options:
    type: string
    default: ''
    description: "Comma seperated list of addtional options for the backup command"
